node_modules
.git
.gitignore
.env
.env.backup
.phpunit.result.cache
storage/*.key
vendor
bootstrap/cache/*
public/build
public/hot
public/storage
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
*.log
.idea
.vscode
*.swp
*.swo
*~


